<!DOCTYPE html>

<html>
  <head>
    <title>Movie board template</title>
  </head>
  <body>   
  
    <!-- POSTER TEMPLATE START -->
    <li class="movie">
      <span class="favorite">V</span>
      <section class="overlay"> 
        <h2>Dart Flight School - Montpellier JUG</h2> 
        <div>Release date: 2014/02/19</div>
        <div>Rating: <span class="rating">XXXXXXXXX</span><span>X</span></div>
        <div>Voters : 80</div>
        <div class="comment">Well done guys !</div>
      </section>
      <img src="./img/dart-flight-school.jpg">
    </li>
    <!-- POSTER TEMPLATE END -->
    
  </body>
</html>
