.card {
  margin: 20px;
  display: block;
}

.poster {
  float: left;
  padding-right: 30px;
}

.line {
  width: 100%;
  padding-top: 30px;
  display: block;
}

.title {
  font-size: 40px;
}

.tagline {
  margin-top: 30px;
  font-style: italic;
  font-size: 20px;
}

.vote {
  padding-top: 20px;
}

.rating {
  color: yellow;
}

.trailer {
  right: 20px;
  position: absolute;
  top: 80px;
  cursor: pointer;
}

.overview {
  padding-top: 40px;
  font-size: 16px;
}

.genre {
  display: inline-block;
  padding-right: 30px;
  font-size: 16px;
}

.comment {
  width: 550px;
  height: 120px;
  background-color: transparent;
  color: gray;
  font-size: 14px;
  border: 0px;
  border-bottom: 1px solid gray;
}

.toolbar {
  position: absolute;
  bottom: 30px;
  right : 10px;
}

.toolbar a {
  margin: 6px;
}

.btn {
  cursor: pointer;
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #1f628d 0px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}