@import url(http://fonts.googleapis.com/css?family=Alegreya+Sans+SC);

body {
  background: #222222;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
}

h1 {
  color: white;
  padding-left: 50px;
  padding-top: 0px;
  vertical-align: middle;
  font-size: 45px;
  font-weight: bold;
}

h1 img {
  vertical-align: middle; 
  padding-right: 40px;
  width: 50px;
}

.header {
  position: fixed; top: 0px; left: 0px; width: 100%; height: 120px;
  z-index: 1000;
}

/** ========== Menu styles ========= */
.menu {
  display: block;
  background-color: transparent;
  z-index: 2000;
  position: fixed; top: 230px; left: 30px; width: 196px;
}

.menu .item {
  display: block;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  color: white;
  text-decoration: none;  
  transition: all 0.3s ease-out; 
  cursor: pointer;
}

.menu .item:hover {
  color: white;
  text-decoration: underline;
}

.menu .item-selected {
  background-color: gray;
  color: white;
  border-radius: 5px 0px 0px 5px;
  border: none;
  box-shadow: 0px 3px 3px -3px #000000 inset;
  transform: scale(1.2);
}

.menu .item-selected:hover {
  text-decoration: none;
  cursor: default;
}
  
/** ============== Movies styles (items and container) ======= */
#movies {
   z-index: 1000;
   position: relative; top: 0px; margin-top: 120px; margin-left: 230px; height: 100%; min-width: 250px;
   background-color: red;
}

#movies .toolbar {
  height: 75px;
  border-radius: 5px 0px 0px 5px;
  border: 1px solid black;
  box-shadow: 0 3px 3px rgba(0,0,0,0.2) inset, 0 -1px 0 rgba(0,0,0,0.05) inset;
  margin-bottom: 10px;
  background: gray;
  position: fixed;
  top: 100px;
  left: 225px;
  right: 0px;
}

#movies .toolbar label {
  margin-left: 30px;
  margin-top: 20px;
  color: white;
  font-size: 26px;
}

#movies .toolbar input {
    margin-left: 10px;
    margin-top: 20px;
    background: url(img/icon-search.png) 315px 6px no-repeat, linear-gradient(to bottom, #f7f7f8 0%,#ffffff 100%);
    border-radius: 3px;
    border: none;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2) inset, 0 -1px 0 rgba(0,0,0,0.05) inset;
    transition: all 0.2s linear;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 13px;
    color: #222222;
    position: relative;
    height: 36px;
    width: 300px;
    padding-left: 10px;
    padding-right: 40px;
}

#movies .content {
  top: 190px;
  left: 225px;
  right: 0px;
  position: fixed;
  bottom: 0px;
  overflow: scroll;
  background-color: yellow;
  padding: 15px;
  border-radius: 5px 0px 0px 5px;
  margin-bottom: 10px;
  background: gray;
  border: 1px solid black;
  box-shadow: 0 3px 3px rgba(0,0,0,0.2) inset, 0 -1px 0 rgba(0,0,0,0.05) inset;
}

.movie {
  display: block;
  position: relative;
  float: left;
  width: 260px;
  height: 380px;
  padding: 2px;
}

.movie img {
  width: 100%;
  height: 100%;
  margin-bottom: 0px;
  margin-left: 2px;
  z-index: 10;
}
      
.movie .overlay {
  border: solid 1px #444;
  position: absolute !important;
  top: 0px;
  left: 4px;
  right: -2px;
  bottom: 0px;
  color: silver;
  z-index: 100;

  font-size: 14px;
  text-align: left;
  padding: 20px;
  font-weight: bold;
  background-color: #000;
  background: rgba(32,32,32,0.0);
  transition: visibility 0.3s, background 0.3s;
}
  
.movie:hover .overlay {
    background: rgba(32,32,32,0.90);
}

.movie .overlay h2 {
  font-family: 'Alegreya Sans SC', sans-serif;
  color: white;
  padding-top: 4px;
}
    
.movie .overlay h2, .movie .overlay div {
  color: transparent;
  transition: color 0.3s;
}    
    
.movie:hover .overlay h2, .movie:hover .overlay div {
    color: white;
}      
.movie:hover .rating {
  color: yellow;
}